# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
pandas
plotly==4.14.3

# utilities
joblib==1.0.1
Pillow==8.1.0
requests==2.25.1
six>=1.14
memoized-property
termcolor

# tests/linter
black
coverage
flake8
pytest
yapf


# API
wikipedia==1.4.0
google-cloud-storage==1.36.0
googlemaps==4.4.2
herepy==3.3.0
streamlit==0.76.0
google-cloud-translate==2.0.1
streamlit_folium
folium 



